input#toggle0, input#toggle1, input#toggle2, input#toggle3 {
                max-height: 0;
                max-width: 0;
                opacity: 0;
            }
            
            /* The following provides the "container" for our toggle in its default (off) state */
            
            input#toggle0 + label, input#toggle1 + label, input#toggle2 + label, input#toggle3 + label {
                display: block;
                position: relative;
                box-shadow: inset 0 0 0px 1px #d5d5d5;
                text-indent: -5000px;
                height: 30px;
                width: 50px;
                border-radius: 15px;
                float: left;
                background: #fff;
            }
            
            /* The following provides the green background for the "on" state of our toggle - it is hidden when the switch is off */
            
            input#toggle0 + label:before, input#toggle1 + label:before, input#toggle2 + label:before, input#toggle3 + label:before {
                content: "";
                position: absolute;
                display: block;
                height: 30px;
                width: 30px;
                top: 0;
                left: 0;
                border-radius: 15px;
                background: rgba(19,191,17,0);
                -webkit-transition: .25s ease-in-out;
            }
            
            /* The following provides the actual switch and its drop shadow */
            
            input#toggle0 + label:after, input#toggle1 + label:after, input#toggle2 + label:after, input#toggle3 + label:after {
                content: "";
                position: absolute;
                display: block;
                height: 30px;
                width: 30px;
                top: 0;
                left: 0px;
                border-radius: 15px;
                background: white;
                box-shadow: inset 0 0 0 1px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.2);
                -webkit-transition: .25s ease-in-out;
            }
            
            /* The following defines the "on" state for the switch */
            
            input#toggle0:checked + label:before, input#toggle1:checked + label:before, input#toggle2:checked + label:before, input#toggle3:checked + label:before {
                width: 50px;
                background: rgba(19,191,17,1);
            }
            
            input#toggle0:checked + label:after, input#toggle1:checked + label:after, input#toggle2:checked + label:after, input#toggle3:checked + label:after {
                left: 20px;
                box-shadow: inset 0 0 0 1px rgba(19,191,17,1), 0 2px 4px rgba(0,0,0,.2);
            }
